<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!-- Command for the Item Versioner -->
    <commands>
      <command name="itemversioner:createversions" type="SharedSource.ItemVersioner.Commands.CreateVersions, SharedSource.ItemVersioner" />
    </commands>

  </sitecore>
</configuration>